<?xml version="1.0" encoding="utf-8"?>
<plugin id="rocks.xml.webhelp">
    <extension-point id="rocks.xsl.html5" name="Rocks XSLT import"/>
    <extension-point id="rocks.xsl.html5.cover" name="Rocks Cover XSLT import"/>

    <feature extension="dita.conductor.target.relative" value="build.xml" type="file"/>
    <feature extension="dita.xsl.html5" value="xsl/dita2xmlrocksImpl.xsl" type="file"/>
    <feature extension="dita.xsl.html5.cover" value="xsl/dita2xmlrocksCoverImpl.xsl" type="file"/>
    <feature extension="dita.xsl.mapref" value="xsl/preprocess/maprefImpl.xsl" type="file"/>
    <feature extension="dita.xsl.maplink" value="xsl/preprocess/maplinkImpl.xsl" type="file"/>
    <feature extension="dita.xsl.topicpull" value="xsl/preprocess/topicpullImpl.xsl" type="file"/>
    <feature extension="dita.conductor.html5.param" file="parameters.xml"/>
    <feature extension="dita.conductor.html5.toc.param" file="parameters.xml"/>

    <transtype name="xmlrocks-webhelp" desc="rocks.xml.webhelp plugin" extends="html5"/>

    <template file="xsl/dita2xmlrocksImpl_template.xsl"/>
    <template file="xsl/dita2xmlrocksCoverImpl_template.xsl"/>

    <feature extension="dita.xsl.strings" file="resources/vars/vars.xml"/>

</plugin>